.title {
    margin-left: 22px;
}

.menuItem {
    margin-top: 30px;
}

.menuItem:first-child {
    margin-top: 0px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
