.mainMenuItem {
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 54px;
    position: relative;
    line-height: 100%;
}

.mainMenuItem:last-child {
    margin: 0;
}

.mainMenuItem a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.notActive {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.3);
}

.isActive {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #2BB2AC;
}

.isActive:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 5px;
    background: #2BB2AC;
    border-radius: 6px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;}

.img {
    margin-right: 9px;
}

.label {
    position: absolute;
    top: 31px;
    left: -10px;
}
