.title {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(56, 70, 110, 0.7);
}

.subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(56, 70, 110, 0.6);
    margin-left: 29px;
}
