.header {
    grid-area: header;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    box-shadow: 6px 2px 20px rgba(0, 0, 0, 0.06);
}

.logoMenuWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cartUserInfoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
