.product {
    background: #F7F7F7;
    box-shadow: 6px 2px 20px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    position: relative;
}

.productInfo {
    background: #FFFFFF;
    border-radius: 0 0 6px 6px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px 24px;
}

.name {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #4D5A61;
}

.price {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D5A61;
    margin-top: 3px;
}

.namePrice {

}

.image {
    max-width: 100%;
    border-radius: 6px 6px 0 0;
    display: block;
}

.label {
    position: absolute;
    top: 22px;
    left: -16px;
}
